body{
    margin: 20px;
}
.one{
    outline-style: double;
    outline-color: black;
    text-align: center;
    margin: auto;
    width: 260px;
}

.ima {
    float: middle;
    width:  500px;
    height: 100px;
    object-fit: cover;
    
}